.contents.row {
  height: 100%;
  width: 100%;
  display: block;
  background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%, #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
}

.content_post {
  margin-top: 80px;
  height: 50vh;
  width: 80vh;
}

.more {
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.more_list {
  display: flex;
  justify-content: space-around;
}

.img_edit {
  background-color: black;
  color: #00ff00;
}

.img_derete {
  color: red;
}

.name {
  display: block;
}