*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
}

.row .grid-6 {
  float: left;
  width: 48.2%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

body,
html {
  height: 100%;
  background-color: #f5f5f3;
}

body {
  padding-top: 60px;
}

h1,
body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  zoom: 1;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

.img {
  background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%, #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
}

.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 15px;
  border: 2px solid #99e099;
  color: #99e099;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.btn:hover,
header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}

header.header .user_nav span:after {
  content: '◀︎';
  font-size: 20px;
  margin-left: -4px;
}

header.header .user_nav span:hover ul {
  color: #99e099;
  display: block;
}

header.header .user_nav ul li {
  background-color: #ffffff;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
}

header.header .user_nav span {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

header.header .user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
 }

header.header div.header__bar.row h1.grid-6 {
  font-size: 25px;
  line-height: auto;
  float: left;
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

footer {
  margin: auto;
  padding: 10px;
  color: #bbbbbb;
  background-color: #666;
  text-align: center;
}